<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal de Envío</title>
    <link rel="stylesheet" href="/styles/portalStyle.css">
    <link rel="shortcut icon" href="ovo.ico" type="image/x-icon">
</head>
<body>
    <h1>Gracias por enviar su formulario a través del portal</h1>
    <h2 class="saving">Esperando a que Samos el Sabio lo reciba <span>. </span><span>. </span><span>.</span></h2>
</body>
</html>